<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kirich1409.svgloader.glide3"
    >

    <application>
        <meta-data
            android:name="com.kirich1409.svgloader.glide3.SvgGlideModule"
            android:value="GlideModule"
            />
    </application>
</manifest>
